body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    color: #333;
    font-size: 24px;
}

h3 {
    color: #555;
    font-size: 20px;
}

h4 {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

code {
    font-family: "Courier New", Courier, monospace;
    background-color: #eef;
    padding: 2px 2px;
    border-radius: 4px;
}

pre {
    background-color: #eef;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
}

/* Frame formatting */
.programs-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.programs-list {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove default padding */
}

.programs-list li {
    margin: 10px 0; /* Add space between list items */
}

.programs-list a {
    text-decoration: none; /* Remove underline from links */
    color: #b31859; /* Link color */
    font-size: 20px;
   
    transition: color 0.3s; /* Smooth transition for hover effect */
}

.programs-list a:hover {
    color: #04643d; /* Darker color on hover */
}

/* Button style for specific <a> tags */
.button {
    display: inline-block;      /* Make the link behave like a block element */
    padding: 10px 15px;       /* Add padding for a button-like appearance */
    background-color: rgb(5, 107, 61);    /* Set background color */
    color: white;              /* Set text color */
    text-decoration: none;      /* Remove underline */
    border-radius: 5px;        /* Round the corners */
    font-weight: bold;          /* Keep text bold */
    transition: background-color 0.3s; /* Add a transition effect */
}

.button:hover {
    background-color: rgb(6, 101, 120); /* Change background color on hover */
}
/* for adding nav bar in the frame page */
